* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

:root {

    --text_sh: 1px 1px 2px black;

}

h1 {
    color: white;
    text-shadow: var(--text_sh);
    font-size: 40px;
    padding-left: 5vw;
}



body {
    background: linear-gradient(180deg, white, #8c8787);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}




/*НАВИГАЦИЯ*/

.header_nav {
    background-color: red;
    width: 100%;
}

.header_nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 20px 45px;
    background-color: red;
    font-weight: normal;
    text-shadow: var(--text_sh);
    white-space: nowrap;
}


.header_nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


.header_nav ul li:hover {
    background-color: gray;
}

.header_nav a:hover {
    opacity: 0.7;
    color: black;
    text-shadow: none;
}


/*ПОДВИЖНЫЙ БЛОК PROMO ДЛЯ ГЛАВНОЙ СТРАНИЦЫ С ТЕКСТОМ И ВЫЕЗЖАЮЩЕЙ КАРТИНКОЙ ПО НАВЕДЕНИЮ*/
.promo {
    height: 200px;
    transition: 3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: grey url(../img/picter.jpg) no-repeat bottom -500px right 0/350px auto;
}

.promo:hover {
    height: 300px;
    transition: 3s;
    cursor: pointer;
    background: grey url(../img/picter.jpg) no-repeat bottom -100px right 0/350px auto;
}


.phrase {
    width: 350px;
    font-size: 20px;
    color: white;
    font-weight: 100;
    text-shadow: var(--text_sh);
    padding-left: 5vw;
}

/*СТИЛИ ДЛЯ БЛОКА-ОБЁРТКИ С ФОНОВЫМИ КАРТИНКАМИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/

.wrap_pictures {
    display: flex;
    justify-content: center;
    height: 70vh;
    gap: 2vw;

}



/*ФОНОВЫЕ КАРТИНКИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/

.item1 {
    background: url(../img/pict1.png);
    background-size: cover;
}

.item2 {
    background: url(../img/pict2.png);
    background-size: cover;
}

.item3 {

    background: url(../img/pict3.png);
    background-size: cover;
}

.item4 {
    background: url(../img/pict4.png);
    background-size: cover;
}



/*ОБЩИЕ СТИЛИ КАРТИНОК ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/

.pict {
    margin: 10vh 0;
    width: 20vw;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 2px 4px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-color: red;
}


.pict a {
    color: white;
    text-decoration: none;
}

.pict a:hover {
    color: red;
}

/*НИЖНИЙ БЛОК С ТЕКСТОМ, ЗАГОЛОВКОМ И ВЫЕЗЖАЮЩЕЙ КАРТИНКОЙ*/

.promo_text_card {
    height: 200px;
    transition: 3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: grey url(../img/picter_footer.jpg) no-repeat bottom -500px right 0/350px auto;
}


.promo_text_card:hover {
    height: 300px;
    transition: 3s;
    cursor: pointer;
    background: grey url(../img/picter_footer.jpg) no-repeat bottom -50px right 0/350px auto;
}



/*СТИЛИ ДЛЯ СТРАНИЦЫ С КОНТАКТАМИ*/



/*стили для активного пункта меню*/


.active {
    background-color: gray;
}

.active a {
    opacity: 0.7;
    color: black;
    text-shadow: none;

}

/* promo-блок выезжающий*/
.contacts {
    height: 100px;
}

.contacts:hover {

    width: 100%;
    height: 160px;
    background: grey url(../img/picter.jpg) no-repeat top -50px right 0/200px auto;
    transition: 2s;
    cursor: pointer;
}

/*Заголовок на странице с контактами не виден*/
.h2_cont {
    display: none;
}

.main_contacts {
    display: flex;
    width: 100%;
    min-height: 75vh;
    align-items: center;
    justify-content: space-evenly;
}

.inform a {
    text-decoration: none;
    color: black;
}

.inform a:hover {
    color: red;
}


h2 {
    color: white;
    text-shadow: var(--text_sh);
    font-size: 25px;
    font-weight: normal;
}


.inform {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 35%;
}


.child {

    width: 20vw;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* СТИЛИ ДЛЯ ЯНДЕКС.КАРТЫ*/


#frame {
    height: 50vh;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 2px rgb(49, 47, 47);
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ С ВИДЕО-РЕЦЕПТОМ*/

.video_page {
    height: 100vh;
}

.video {
    height: 45vh;
    width: 45vw;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 2px rgb(49, 47, 47);

}

.inform_video_page {
    height: 45vh;
    width: 45vw;
    font-size: 20px;
    text-align: justify;
    overflow: auto;
    padding: 1%;

}

.main_video {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 75vh;

}



/*ГАЛЕРЕЯ ПОДАРКОВ GIFT*/

.main_gal {
    background-color: rgb(59, 56, 56);
}


.gal_wrap {
    margin: 2vw 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.gal_wrap .img {

    height: 250px;
    width: 350px;
    display: inline-block;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 20px;

}



div.gal_wrap .img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: all 1s;
    cursor: pointer;

}



div.gal_wrap .img img:hover {

    transform: scale(1.3);
    transition: all 1s;
}


/*РАЗВОРОТЫ ИЗОБРАЖЕНИЙ ГАЛЕРЕИ НА PAGES.HTML*/




.wrap_open_image {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}




.open_image {
    height: 50vw;
    width: 82vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 0 20px 2px black;
}



#open_image1 {
    background-image: url(../img_gift/gift1.jpg);
}




#open_image2 {
    background-image: url(../img_gift/gift2.jpg);
}

#open_image3 {
    background-image: url(../img_gift/gift3.jpg);
}

#open_image4 {
    background-image: url(../img_gift/gift4.jpg);
}

#open_image5 {
    background-image: url(../img_gift/gift5.jpg);
}

#open_image6 {
    background-image: url(../img_gift/gift6.jpg);
}

#open_image7 {
    background-image: url(../img_gift/gift7.jpg);
}

#open_image8 {
    background-image: url(../img_gift/gift8.jpg);
}

#open_image9 {
    background-image: url(../img_gift/gift9.jpg);
}

#open_image10 {
    background-image: url(../img_gift/gift10.jpg);
}

#open_image11 {
    background-image: url(../img_gift/gift11.jpg);
}

#open_image12 {
    background-image: url(../img_gift/gift12.jpg);
}










.zakrivashka {
    font-size: 40px;
    font-weight: normal;
    position: absolute;
    right: 40px;
    top: 15px;
    background-color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 4px white;
    border: 1px solid black;
    transition: .8s;
    display: flex;
    justify-content: center;
    text-align: center;
}




.zakrivashka a {
    color: black;
    text-decoration: none;
}

.zakrivashka:hover {
    transform: scale(1.1);

}



/*СТИЛИ ДЛЯ СЛАЙД-ШОУ ИЗОБРАЖЕНИЙ.СТРАНИЦА "ABOUT US"*/


.container {

    width: 100%;
    height: 100%;
    background-color: rgb(59, 56, 56);
    position: relative;
    z-index: -100;
}

.container>.box {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: 100%, 100%;
    z-index: 999;
    opacity: 0;
    animation: move 30s infinite;
}


.about {
    height: 50px;
}

.main_slaid {
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.container>.box:nth-child(1) {

    background-image: url(../img/slaid1.jpg);

}


.container>.box:nth-child(2) {

    background-image: url(../img/slaid2.jpg);
    animation-delay: 5s;
    z-index: 999;
}

.container>.box:nth-child(3) {

    background-image: url(../img/slaid3.jpg);
    animation-delay: 10s;
}

.container>.box:nth-child(4) {

    background-image: url(../img/slaid4.jpg);
    animation-delay: 15s;
}



.container>.box:nth-child(5) {

    background-image: url(../img/slaid5.jpg);
    animation-delay: 20s;
}


.container>.box:nth-child(6) {

    background-image: url(../img/slaid6.jpg);
    animation-delay: 25s;
}





.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content>h2 {
    font-size: 3vw;
    margin-bottom: 1.2rem;
}

.content>p {
    font-size: 2.5vw;
    color: white;
    text-shadow: 1px 1px 1px #000;
}



@keyframes move {
    0% {
        opacity: .5;
    }

    10% {

        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {

        opacity: 0;
    }

    70% {
        transform: scale(1.2);
    }
}









/* медиа исправ*/

@media(max-width: 924px) {

    body {
        background: linear-gradient(180deg, gray, gray);
    }

    h1 {
        color: white;
        text-shadow: var(--text_sh);
        font-size: 30px;
        padding-left: 2vw;
    }


    .phrase {
        width: 55vw;
        font-size: 17px;
        color: white;
        font-weight: 100;
        text-shadow: var(--text_sh);
        padding-left: 2vw;
    }

    .promo {
        height: 300px;
        transition: 3s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: grey url(../img/picter_footer.jpg) no-repeat top -100px right 0/cover;
    }

    .promo:hover {
        height: 300px;
        transition: 3s;
        cursor: pointer;
        background: grey url(../img/picter_footer.jpg) no-repeat top -40px right 0/cover;
    }


    .header_nav {
        background-color: red;
        height: 300px;
        width: 35%;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0.6;
        transition: all 1s;
    }

    .header_nav:hover {
        opacity: 0.9;
        transition: all 1s;
    }

    .header_nav ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }


    .header_nav a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        width: 100%;
        height: 60px;
        padding: 20px 10px;
        background-color: red;
        text-shadow: var(--text_sh);
        white-space: nowrap;
    }

    .header_nav ul li:hover {

        background-color: gray;
    }

    .header_nav ul li a:hover {

        opacity: 0.7;
    }

    /* ВЫДЕЛЯЕМ АКТИВНЫЙ ПУНКТ МЕНЮ, ДЛЯ МАЛЕНЬКИХ
    ЭКРАНОВ, КОГДА МЕНЮ ВЕРТИКАЛЬНОЕ*/

    .header_nav .active {

        background-color: rgb(18, 17, 17);

    }

    .active a {
        opacity: 0.7;
        color: black;
        text-shadow: none;


    }



    .header_nav ul li {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: red;

    }

    /*КАРТИНКИ В СТОЛБИК*/
    .wrap_pictures {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 250vh;
    }


    .pict {
        width: 97vw;
        height: 60vh;
        border-radius: 5px;
        box-shadow: none;
        margin: 0;
        background-size: cover;
        background-position: center;
        background-color: red;
    }


    .pict:hover {
        opacity: 0.7;
    }

    .pict a {
        font-size: 30px;
        font-weight: 700;
    }

    .pict a:hover {
        text-shadow: 1px 1px 1px black;
    }


    .index {
        height: 300vh;
    }


    .promo_text_card {

        background: rgb(62, 61, 61) url(../img/picter_footer.jpg) no-repeat bottom -500px right 0/350px auto;


    }

    .promo_text_card:hover {
        background: rgb(62, 61, 61) url(../img/picter_footer.jpg) no-repeat center/cover;
        height: 500px;
        transition: 3s;
        cursor: pointer;
    }

    /*СТРАНИЦА С КОНТАКТАМИ*/

    .main_contacts {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .h2_cont {

        display: block;
        color: red;
        font-size: 25px;
        padding: 10px 0;
    }

    .main_contacts #frame {

        border-radius: 10px;
        height: 300px;
        width: 90vw;
    }




    .main_contacts .inform {
        flex-direction: row;
        height: 150px;
        width: 90vw;
        align-items: center;
        justify-content: center;
    }

    .inform h2 {
        font-size: 20px;
    }

    .child {

        width: 45vw;
        height: 100%;
        padding-left: 20px;
        justify-content: center;
        gap: 13px;
        font-size: 12px;
    }



    /*СТРАНИЦА С ВИДЕО*/



    .video_page {
        min-height: 100vh;
    }


    .main_video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2%;
        height: 100vh;

    }

    .video {
        height: 45vh;
        width: 80vw;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 2px rgb(49, 47, 47);
        border: 2px solid red;

    }

    .inform_video_page {
        height: 45vh;
        width: 80vw;
        font-size: 20px;
        text-align: justify;
        border: 2px solid red;
        overflow: auto;
        padding: 1%;

    }



    #iframe {
        border-radius: 10px;
        border: 1px solid black;
        height: 45vh;
        width: 80vw;
    }


    /*СТРАНИЦА СО СЛАЙД-ШОУ*/

    .main_slaid {
        height: 50vh;

    }



}
